<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/af4aae0ea2.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="">Создать проект</a>
        <a href="/">Мои проекты</a>
    </div>
    <form method="get" action="http://127.0.0.1:8000/logout/">
        <input class="btn btn-primary" type="submit" value="Выход"/>
    </form>
</div>
<br>
<div id="app">
    <div class="container">
        <a class="btn btn-danger btn-lg" href="javascript:void(0)" @click="clear()">Очистить</a>
        <a href="javascript:void(0)" @click="mod(1)"><i class="fas fa-eraser fa-4x"></i>
        </a>
        <a href="javascript:void(0)" @click="mod(0)"><i class="fas fa-paint-brush fa-4x"></i></a>
        <canvas id="Canvas" width="1000" height="700"
                style="background-color:#eee; border: 1px solid #ccc; margin:10px;">
            Ваш браузер не поддерживает Canvas
        </canvas>
    </div>
</div>
<a href='http://127.0.0.1:8000/delete_project?id={{ proj.id }}'>Удалить проект</a>
<p>invitation link: 127.0.0.1:8000/join_project?join_id={{ proj.join_id }}</p>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const app = new Vue(
        {
            el: '#app',

            data: {
                canvas: null,
                mode: 0
            },

            methods: {
                mod: function (i) {
                    app.mode = i;
                },
                clear: function () {
                    let context = app.canvas.getContext('2d')
                    context.clearRect(0, 0, app.canvas.width, app.canvas.height)
                    context.fillStyle = 'white'
                    context.fillRect(0, 0, window.innerWidth, window.innerHeight);
                    this.send()
                },
                getImage: function () {
                    const imageData = app.canvas.toDataURL();
                    let image = new Image();
                    image.src = imageData;
                    return image;
                },
                send: async function () {
                    let data = {id: {{ proj.id }}}
                    let blob = await new Promise(resolve => app.canvas.toBlob(resolve, 'image/png'));
                    let csrftoken = getCookie('csrftoken');
                    let resp = fetch('http://127.0.0.1:8000/get_img', {
                            method: 'POST',
                            headers: {
                                "X-CSRFToken": csrftoken,
                                'data': JSON.stringify(data)
                            },

                            body: blob,

                        }
                    )
                }
            }
            ,

            mounted: function () {
                let a = setInterval(async function () {
                    let id =
                    {{ proj.id }}
                    const response = await (await fetch(`http://127.0.0.1:8000/get_update?id=${id}`)).json()
                    let i = response.i
                    let back = new Image()
                    back.src = `http://127.0.0.1:8000/${i}`
                    const context = app.canvas.getContext('2d')
                    context.drawImage(back, 0, 0)
                }, 300)
            }

        })
    app.canvas = document.getElementById("Canvas")
    let context = app.canvas.getContext("2d")
    context.fillStyle = 'white'
    context.fillRect(0, 0, window.innerWidth, window.innerHeight);
    let w = app.canvas.width
    let h = app.canvas.height

    let mouse = {x: 0, y: 0};
    let draw = false;

    app.canvas.addEventListener("mousedown", function (e) {

        if (app.mode == 0) {
            context.strokeStyle = 'black'
            context.lineWidth = 3
        } else {
            context.strokeStyle = 'white'
            context.lineWidth = 20
        }
        mouse.x = e.pageX - this.offsetLeft;
        mouse.y = e.pageY - this.offsetTop;
        draw = true;
        context.beginPath();
        context.moveTo(mouse.x, mouse.y);
    });
    app.canvas.addEventListener("mousemove", function (e) {

        if (draw == true) {
            mouse.x = e.pageX - this.offsetLeft;
            mouse.y = e.pageY - this.offsetTop;
            context.lineTo(mouse.x, mouse.y);
            context.stroke();
        }
    });
    app.canvas.addEventListener("mouseup", function (e) {

        mouse.x = e.pageX - this.offsetLeft;
        mouse.y = e.pageY - this.offsetTop;
        context.lineTo(mouse.x, mouse.y);
        context.stroke();
        context.closePath();
        draw = false;
        app.send()
    });
</script>
</body>
</html>