<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form method="get" action="/new_project">
    <input type="text" placeholder="name of project" name='name' required="True" />
    <input type="submit" value="create new project"/>
</form>
<body>
{% for project in projects %}
    <a href="/project?id={{ project.id }}">{{ project.name }}</a>
{% endfor %}
<form method="get" action="/logout/">
    <input type="submit" value="log out"/>
</form>
</body>
</html>